html{
    /*font: 12px 'site-font' , serif;*/
    /*letter-spacing: 2px;*/
    font: 12px 'Arial' , serif;
}

.Header2 {
    margin-top: 40px;
    /*background: linear-gradient(to right bottom, #ffffff 10%, #3c7839) ;*/
    height: 50vh;
    background: linear-gradient(to right, #555152,  #EFFFCD);
    justify-content: space-between;

}

.Main {
/*height: 80vh;*/
    /*background: linear-gradient(to right bottom, #c3c8bc, #ffffff);*/
    /* #F5F0F0*/
}

.content {
    width: 100%;
    justify-content: center;
    min-height: 60vh;
    align-items: center;

}

.href-button_minerals {
    font-weight: bold;
}

.side-bar {

    background: linear-gradient(to right, #555152 90%, #EFFFCD 90%);
    max-width: 400px;
    width: 20vw;
    /* padding-right: 0;*/

}

.reclame {
    margin-right: 40px;
}

.catalog {
    margin-right: 40px;

}

.Footer {
    /*linear-gradient(to right, #ffffff 30 %, #3c7839 70 %);*/

    height: 30vh;
}

.transparent-text {
    font-family: 'Rubik One', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    background: transparent;

    display: table;
    margin: 20px auto;
    color: white;
    border-radius: 5px;
    mix-blend-mode: multiply;
    padding: 5px 10px;
}


.logo__title-site {

    vert-align: middle;
    font: 40px 'Brush Script MT', serif;
    /*color: linear-gradient(to right, #EFFFCD, #555152);*/
    font-weight: 900;
    /*text-shadow: #ffd700 2px 2px;*/
    letter-spacing: 6px;


}

.contact-info {

}

.tablet{

    width: 400px;
    height: 300px;
    border: 2px #99173C solid;
    border-radius: 25px;
    padding: 15px;
    margin: 0 0 0 20px;
    /* margin: 15px;
   margin-left: 5px;
    margin-top: 5px;*/


}
















