

.main_text_color-1 {
    color: #DCE9BE;
}

.main_text_color-2 {
    color: #555152;
}

.main_text_color-3 {
    color: #ff1c36;
}

.main_text_color-4 {
    color: #ff1c36;
}

.main_text_color-5 {
    color: #ff1c36;
}


.main_bkg_color-1 {

    background-color: #555152;
}

.main_bkg_color-2 {

    background-color: #DCE9BE;
}

.main_bkg_color-3 {

    background-color: #2E2633;
}

.main_bkg_color-4 {

    background-color: #FFFFE0;

}

.main_bkg_color-5 {

    background-color: #99173C;
}

.bkg_color_report {

    background-color: transparent;
}






