.block__caption{
    font: 1.4em 'Times New Roman';
    color: #a52a2a;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}

.super-index {
    vertical-align: super;
    font-size: .8em;
}

.sub-index {
    vertical-align: sub;
    font-size: .8em;
}

/* <Гиперссылки>
.href:link {
    color: #1f1dff;
}

.href:visited {
    color: #00008b;
}

.href:active {
    color: #ff0000;
}
*/

/* </гиперссылки> */

/* </динамическое управление> */

.input-label {
    box-sizing: border-box;
    width: 80px;
    text-align: center;
    font: 1.1em 'Times New Roman', serif;
    font-weight: bold;
    border: 2px double #000000;
    padding: 5px;
}

.input-label_bar {
    position: fixed;
    top: 10px;
    right: 10px;
    visibility: visible;
}

.input-label_list {
    position: fixed;
    top: 60px;
    right: 10px;
    visibility: visible;
}

.input-viewstyle_bar {
    position: fixed;
    top: 10px;
    right: 120px;
    visibility: hidden;
}

.input-viewstyle_list {
    position: fixed;
    top: 50px;
    right: 120px;
    visibility: hidden;
}

.tel:before{
 /*content: "тел. ";*/

}

/*
input [name='viewstyle'][id='bar']:checked ~ .product {
    display: inline-table;
    font-size: 20px;
    background-color: gold;
}


input [name='viewstyle'][id='bar']:checked ~ .product > .item {
    display: table-row;
    font-size: 20px;
    background-color: gold;
}

input [name='viewstyle'][id='list']:checked ~ .product {
    display: table-row;
    font-size: 14px;
    background-color: gold;
}

input [name='viewstyle'][id='list']:checked ~ .product > .item  {
    display: table-cell;
    font-size: 14px;
    background-color: gold;
}

/*
<svg>
       <polygon class="star"
       points="0,10 10,10 15,0 20,10 30,10 25,20 27,30 15,23 3,30 5,20"/>
</svg>

.star {
    stroke: red;
    stroke-width: 2px;
    fill: gold;
}

*/

.img-star_harf:before {
    font: 48px 'FontAwesome';
    color: #000000;
    content: '\f089';
    position: relative;
}
/* empty_star*/
.img-star_full:before {
    font: 48px 'FontAwesome';
    color: #000000;
    content: '\f006';
    position: relative;
    /*  content: '\f005';
      content: '\f089';*/
}



.img-star:hover:before,
.img-star:hover ~ .img-star:before,
.ratio-input:checked ~ .img-star:before {
    font: 48px 'FontAwesome';
    color: #ffff00;
    content: '\f005';
}

.img-star_harf:before {
    transform: scale(-1, 1);
}

/* <динамическое управление> */
input[id='bar'][name='view-style']:checked ~ .layout .product {
    display: inline-table;
    margin: 20px;
}

input[id='list'][name='view-style']:checked ~ .layout .product {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 30px auto;
}

    input[id='list'][name='view-style']:checked ~ .layout .product .description__section {
        display: table-cell;
        width: 30%;
        vertical-align: top;
        padding: 0 20px;
    }

input[id='list'][name='view-style']:checked ~ .product .description__section:last-child {
    margin-right: 0;
}



.img-star {
    position: relative;
    display: inline-block;
}




