<?php


use Application as A;
use Application\Views as V;


$styles[0] = SITE_URL."css/styles.css";
$display_head=V\Html::getView_Head("Silver-Hoof",$styles);
$display_footer = V\Html::getView_Footer("Footer block block_wrap", "footer content")

?>
<!DOCTYPE html>
<html lang="ru">
<?=$display_head?>
<body class="block block_wrap">

<nav class="Main_toolbar block block_wrap fl fl-w">
    Главная страница
    <div class="block block_inline">
        <label for="search">Найти</label>
        <input id="search" name="search" type="search">
    </div>
</nav>

<header class="Header block block_wrap fl fl-w">

    <div class="logo block block_inline"></div>


    <div class="logo__title-site block block_inline">Silver-Hoof</div>


    <div class="contact-info block block_inline">
        <div class="">
            <a href="tel:+89226162914" class="tel">8-922-616-29-14</a>

        </div>
    </div>
</header>
<main class="Main block block_wrap fl fl_nw">

    <section class="content block block_wrap">

        <h2>Панель управления администратора</h2>

        <nav class="block fl fl_w">

            <ul>
                <li><a href="/admin/product">Управление товарами</a></li>
                <li><a href="/admin/category">Категории</a></li>
                <li><a href="/admin/minerals">Минералы</a></li>
                <li><a href="/admin/order">Заказы</a></li>
            </ul>



        </nav>


    </section>


</main>

<?=$display_footer?>


</body>
</html>

