<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
       <!-- <testsuite name="money">
        <file>tests/IntlFormatterTest.php</file>-->
        <testsuite name="Application Test Suite">
            <directory>unitTests</directory>
            <file>core/util/ValidatorTest.php</file>
            <directory>pages/vector-best/phpTests</directory>
            <directory>pages/vector-best/models</directory>
        </testsuite>
    </testsuites>
</phpunit>