.block__caption{
    font-size: 1.4em;
    color: #a52a2a;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}

.super-index {
    vertical-align: super;
    font-size: .8em;
}

.sub-index {
    vertical-align: sub;
    font-size: .8em;
}

.contenteditable{
   background: #FFFFFF;

}
